.ChatBubble {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 4px;
  max-width: 75%;

  display: flex;
  flex-direction: column;

}

.ChatBubble-user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.ChatBubble-assistant {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.ChatBubble-time {
  align-self: flex-end;
  font-size: 0.75em;
  color: #555;
  margin-top: 2px;
}
